/* 投稿詳細 */
#header {
  box-sizing: border-box;
}
#contents{
  display: flex;
  margin: 0 50px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
#main {
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 2000px;
  flex: 1;
}
#sub {
  box-sizing: border-box;
  width: 300px;
  background: #FFF;
  border: 1px solid #c7c7c7;
  
  
}
#sub .box{
  position: sticky;
  top: 25px;
  width: 100%;
  height: 10px;
}

.goal_title {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
}

.post-box {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 10px;
}

.post-box textarea {
  width: 100%;
  border: none;
  padding: 10px;
}

.post{
  border: 1px solid;
  width: 40%;
  margin-top: 30px;
}

.post-date{
  color: gray;
}

/* ドロップダウンメニューのスタイル */
.btn {
  display: block;
  width: 18px;
  height: 18px;
  border: none;
  position: relative;
}

.more_list {
  display: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
}

.more_list li {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.more_list li:last-child {
  border-bottom: none;
}

/* カーソルがホバー時のスタイル */
.btn:hover {
  cursor: pointer;
}

/* ドロップダウンメニュー表示時のアニメーション */
.more_list.slide-down {
  display: block;
  animation: slideDown 0.3s ease-out;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
