/* ログイン */
.login-content {
  background-color: #f5f5f5;
  padding: 43px 0 60px;
  margin: 45px auto 0;
  width: 760px;
  border-radius: 10px;
}

.login-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.login-error {
  margin: 30px auto 0;
}

.login-container-contents {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #fff;
  border-radius: 20px;
  color: #23abdd;
  border: 1px solid #fff;
  width: 150px;
}
.login-regist {
  margin: 55px auto 0;
  text-align: center;
}

.login-regist_heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.field {
  margin-top: 10px;
}

.actions {
  margin-top: 5px;
}

.login-regist_button {
  font-weight: 600;
  border: 1px solid #23abdd;
  border-radius: 20px;
  background-color: #23abdd;
  color: #fff;
  padding: 10px;
}
.login-regist_button:hover {
  font-weight: 600;
  border: 1px solid #23abdd;
  background-color: #fff;
  color: #23abdd;
}